body {
    background-color: #1a1a1a;
    color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

body.invisivel{
    display: none;
}

head.invisivel {
    display: none;
}
html.jumpscare {
    background-image: url("../../img/lobo.png");
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    height: 100%;       
    overflow: hidden;       
}

.container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.center-image {
    display: flex;
    margin: 0 auto;
    width: 80%; 
    height: auto; 
}

h1 {
    color: orange;
}

.answer-btn {
    background-color: #ff7518;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #ff9933;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}

#next {
    display: none;
    margin-top: 20px;
}